[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon=script
Name=Dconf initialize
Comment=Load DE specific dconf settings for the 1st time | ArchInstaller.py
Exec=/usr/bin/dconf-init
