[Desktop Entry]
Type=Application
Version=1.0
Name=Dconf initialize
Comment=Load DE specific dconf settings for the 1st time | ArchInstaller.py
TryExec=/usr/bin/dconf-init
Exec=/usr/bin/dconf-init
Icon=script
Terminal=false
StartupNotify=false
